.login::after{
    content: ''; /*Para ele aparecer, ja que vai ser um icone*/
    display: inline-block;/*Tambem para aparecer*/
    background: url('../../assets/usuario.svg') no-repeat center center;
    position: relative;
    top: 3px;
    margin-left: .5rem;
    
    
    /*Valores tirados do Figma*/
    width: 14px;
    height: 17px;
}