@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

body{
    --primary: #333;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    --body-padding-top: 4rem;

    font-family: var(--type-first);
    color: var(--primary);

    padding-top: var(--body-padding-top);
}   

a{
    text-decoration: none;
    color: var(---primary);
    padding: .5rem;
}

img {
    max-width: 100%;
}

/*Para posicionar o footer no final da page*/
#root{
    display: flex;
    flex-direction: column;
    /*Para sempre ocupar a toda a tela, tirando o padding do top*/
    min-height: calc(100vh - var(--body-padding-top));
  
  }

/*Animacao de entrada das pages */
.animeLeft{
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}
@keyframes animeLeft{
   to{
       opacity: 1;
       transform: none;
   }
}

.form{
    margin-bottom: 2rem;
}
