@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
    box-sizing: border-box;
  }
  

body{
    --primary: #333;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    --body-padding-top: 4rem;

    font-family: var(--type-first);
    color: var(--primary);

    padding-top: var(--body-padding-top);
}   

a{
    text-decoration: none;
    color: var(---primary);
    padding: .5rem;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
    display: block;
    max-width: 100%;
  }

/*Para posicionar o footer no final da page*/
#root{
    display: flex;
    flex-direction: column;
    /*Para sempre ocupar a toda a tela, tirando o padding do top*/
    /*Somei +10rem para o footer nao aparecer quando carrega a pagina pra dps pular mais pra baixo da tela */
    min-height: calc(100vh + 10rem);
  
  }

@keyframes animeLeft{
     to{
         opacity: 1;
         transform: none;
     }
  }

/*Animacao de entrada das pages */
.animeLeft{
    opacity: 0;
    transform: translateX(-50px);
    animation: animeLeft .5s forwards;
}

.form{
    margin-bottom: 2rem;
}

/*Para poder alinhas o conteudo dos graphs ao centro. Um graph e um svg que tem, entre outras, essa prop, 
  que inicialmente tem o height: 100%

  O !important e pra ter certeza que vai sobrescrever a prop
*/
.VictoryContainer {
  height: initial !important;
}
